{:paths ["." "tests"]
 :deps  {org.clojure/clojure             {:mvn/version "1.12.3"}
         com.github.narimiran/aoc-utils  {:git/tag "v0.8.3" :git/sha "be4033"}
         org.clojure/math.combinatorics  {:mvn/version "0.3.0"}
         org.clojure/data.priority-map   {:mvn/version "1.2.0"}}
 :aliases
 {:profile {:jvm-opts   ["-Djdk.attach.allowAttachSelf"]
            :extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}
                         com.taoensso/tufte                       {:mvn/version "3.0.0"}
                         criterium/criterium                      {:mvn/version "0.4.6"}}}
  :viz     {:extra-deps {quil/quil {:mvn/version "4.3.1563"}}}
  :test    {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
            :main-opts ["-m" "kaocha.runner"]}
  :splint  {:extra-deps {io.github.noahtheduke/splint {:mvn/version "1.22.0"}}
            :main-opts  ["-m" "noahtheduke.splint"]}}}
